* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0; 
}

body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 69px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.me {
    color:#F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin-left: 7%;
}

.io {
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 7%;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.io a:hover {
    color: #3882F6;
}


ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.rGod {
    width: 14px;
    background-color: #E5E7EB;
    border-radius: 2px;
    padding: 1px;
}

main {
    width: 100%;
}

.ElonMusk {
    background-color: #1F2937;
    color: #F9FAF8;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    margin-left: 7%;
}

.codeHero {
    font-size: 48px;
    font-weight: 900;
    color:#F9FAF8;
}

.codeHero2 {
    color: #E5E7EB;
    font-size: 18px;
    margin: 20px 0;
}

.ElonMusk img {
    transform: rotateY(180deg);
    margin-bottom: -4px;
    flex: 1;
}

.MrRobot {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: initial;
    flex-wrap: wrap;
    gap: 20px;
}

.KindOfABigDeal {
    width: 250px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.box {
    border:2px solid #3882F6;
    border-radius: 15px;
    padding: 15px;
    margin: 20px 0;
}

.box img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    border-radius: 25px
}

.DogecoinToTheMoon {
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
    font-style: italic;
    margin: 100px 20%;
}

.quote span {
    padding-left: 50%;
}

.MoreCoffeePlease {
    color: #1F2937;
    font-size: 36px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #3882F6;
    margin: 69px;
    padding: 50px;
    color: #F9FAF8;
    font-size: 24px;
}

.HireMe {
    width: 50%;
    margin-right: 40px;
}

button {
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    background-color: #3882F6;
    margin: 10px 0;
    padding: 7px 40px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    background-color: #1F2937;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    min-height: 69px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}


